body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icons img {
  height: 22px;
  justify-items: baseline;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
  border: #1f2c46 1.6px solid;
  border-radius: 10px;
}

.nav-icons img:hover {
  border: #f4f4f4 1.6px solid;
  border-radius: 10px;
  transition: 0.5s;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

.asp {
  display: flex;
  /* padding-left: 2rem; */
}

.navigation li {
  list-style-type: none;
}

nav ul {
  padding-inline-start: 0px;
  /* margin-top: .7rem; */
}

nav {
  background-color: #1f2c46;

  /* text-align: center; */
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav > div > ul > li > a {
  /* border: 1px solid; */
  padding: 0.21rem 1rem;
  /* margin: 2px; */
  font-size: 1.1rem;
  color: #f4f4f4;
  font-weight: 300;
  text-decoration: none;
  border-radius: 1rem;
  border: #1f2c46 1.6px solid;
  /* border: 1px solid white; */
  /* transition: .5s; */
}

nav > div > ul > li > a:hover {
  /* background-color: #f4f4f4; */
  border: #f4f4f4 1.6px solid;
  border-radius: 1rem;
  transition: 0.5s;
  /* font-weight: 400; */
}

.white {
  font-weight: 600;
  background-color: #f4f4f4;
}

#About ul {
  padding-inline-start: 20px;
}

p,
li,
h5 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a:link {
  color: #1f2c46;
  
}

a:visited { color: #1f2c46;}

footer a:link {
  color: #f4f4f4; text-decoration: none;
}

a:visited { color: #f4f4f4;}


section {
  text-align: center;
  padding: 1rem;
  min-height: 100vh;
}

h1 {
  margin-top: 1rem;
  margin-block-end: 0px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

h2 {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-block-start: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}

h5 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.row-with-columns {
  display: flex;
  flex-wrap: wrap;
}

.column-single {
  text-align: center;
}

.about-column {
  text-align: left;
  width: 45%;

  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.skills-column {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.projects-column {
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.projects-column:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.crop {
  border: 1.5px solid #1f2c46;
  border-radius: 25px;
  height: 400px;
  overflow: hidden;
}

.crop img {
  width: 100%;
  /* margin: 1px 0 0 1px; */
}

#Hero {
  background-color: #1f2c46;
  background-image: linear-gradient(
    180deg,
    #1f2c46 0%,
    #1f2c46 30%,
    hsl(220, 39%, 30%) 100%
  );
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#About {
  background-color: hsl(0, 0%, 90%);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 80%) 0%,
    hsl(0, 0%, 90%) 100%
  );
  color: #1f2c46;
}

.foto-of-me {
  width: 100px;
  border-radius: 25px;
}

/* 5 columns with Frontend, Backend, Database, Mobile, DevOps */
#Skills {
  background-color: hsl(37, 98%, 53%);
  background-image: linear-gradient(
    0deg,
    hsl(37, 98%, 48%) 0%,
    hsl(37, 98%, 63%) 100%
  );
  color: #1f2c46;
}

#Projects {
  background-color: hsl(0, 0%, 96%);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 86%) 0%,
    hsl(0, 0%, 96%) 100%
  );
  color: #1f2c46;
}

#Contact {
  background-color: #1f2c46;
  background-image: linear-gradient(
    0deg,
    hsl(220, 39%, 25%) 0%,
    hsl(220, 39%, 40%) 100%
  );

  color: #f4f4f4;
}

footer {
  background-color: #1f2c46;
  background-image: linear-gradient(
    0deg,
    hsl(220, 39%, 15%) 0%,
    hsl(220, 39%, 25%) 100%
  );
  color: #f4f4f4;
  text-align: center;
  min-height: 50px;
  padding: 1rem;
}

button {
  background: none;
  color: #f4f4f4;
  font-size: 300;
  border: 1px solid;
  padding: 1em 2em;
  margin: 10px;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #fca311;
  color: #fca311;
  box-shadow: 0 0.5em 0.5em -0.4em #fca311;
  transform: translateY(-0.25em);
  cursor: pointer;
}

hr {
  border-color: #1f2c46;
  border-width: 0.5px;
  width: 95%;
}


/* CSS Rules for design.html */

#design {
  color: #1f2c46;
  padding: 1rem;
}



#design img {
  border: 5px solid #1f2c46;
  width: 95%;
  max-width: 800px;
}

#design h1, #design h3 {
  text-align: left;
}

#design h3 a {
  text-decoration: none;
}

#design h3 a:hover {
  text-decoration: underline;
}



/* MEDIA QUERY */

/* TABLET */

@media screen and (max-width: 800px) {
  #About .row-with-columns {
    flex-flow: column;
  }

  .about-column {
    width: 90%;
  }
}

/* MOBILE */

@media screen and (max-width: 600px) {
  nav a {
    font-size: 1rem;
  }
  .asp {
    padding-left: 0rem;
  }
  .row-with-columns {
    flex-flow: column;
  }

  .about-column {
    width: 90%;
  }
}
