/* Solution for sticky navbar to avoid overlapping  */
html {
  scroll-padding-top: 70px;
}
/* General Rules */

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  padding: 1rem;
  min-height: 100vh;
}

.white {
  font-weight: 600;
  background-color: rgb(244, 244, 244);
}
.gold {
  font-weight: 600;
  background-color: hsl(37, 98%, 83%);
}

.navy {
  font-weight: 600;
  background-color: hsl(221, 38%, 99%);
}

h1 {
  margin-top: 1rem;
  margin-block-end: 0px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin-block-start: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}

h5 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.row-with-columns {
  display: flex;
  flex-wrap: wrap;
}

p,
li,
h5 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a:link {
  color: #1f2c46;
}

a:visited {
  color: #1f2c46;
}

hr {
  border-color: #1f2c46;
  border-width: 0.5px;
  width: 98%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Navbar */

nav {
  background-color: #1f2c46;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

.asp {
  display: flex;
  /* padding-left: 2rem; */
}

.navigation li {
  list-style-type: none;
}

nav ul {
  padding-inline-start: 0px;
}

nav li a {
  padding: 0.21rem 1rem;
  font-size: 1.1rem;
  color: #f4f4f4;
  font-weight: 300;
  text-decoration: none;
  border-radius: 1rem;
  border: #1f2c46 1.6px solid;
}

nav li a:hover {
  border: #f4f4f4 1.6px solid;
  border-radius: 1rem;
  transition: 0.5s;
  color: #f4f4f4;
}

nav li a:link {
  color: #f4f4f4;
}

nav li a:visited {
  color: #f4f4f4;
}

.nav-icons img {
  height: 22px;
  justify-items: baseline;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
  border: #1f2c46 1.6px solid;
  border-radius: 10px;
}

.nav-icons img:hover {
  border: #f4f4f4 1.6px solid;
  border-radius: 10px;
  transition: 0.5s;
}

/* Hero */

#Hero {
  background-color: #1f2c46;
  background-image: linear-gradient(
    180deg,
    #1f2c46 0%,
    #1f2c46 30%,
    hsl(220, 39%, 30%) 100%
  );
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* About */

#About ul {
  padding-inline-start: 20px;
}

.about-column {
  text-align: left;
  width: 45%;

  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 10px;
}

#About {
  background-color: hsl(0, 0%, 90%);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 80%) 0%,
    hsl(0, 0%, 90%) 100%
  );
  color: #1f2c46;
}

.foto-of-me {
  width: 100px;
  border-radius: 25px;
}

/* Skills */

#Skills {
  background-color: #fda312;
  background-image: linear-gradient(
    0deg,
    hsl(37, 98%, 48%) 0%,
    hsl(37, 98%, 63%) 100%
  );
  color: #1f2c46;
}

.skills-column {
  background-color: hsl(37, 98%, 63%);
  border-radius: 10px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  width: 220px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.font-icon {
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 25px;
  border: 5px solid #1f2c46;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa {
  font-size: 3rem;
}

/* Projects */

#Projects {
  background-color: hsl(0, 0%, 96%);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 86%) 0%,
    hsl(0, 0%, 96%) 100%
  );
  color: #1f2c46;
}

.projects-column {
  background-color: hsl(0, 0%, 98%);

  border-radius: 10px;
  text-align: center;
  width: 250px;
  margin-left: auto;

  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0px 20px;
}

.projects-column:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.crop {
  border: 1.5px solid #1f2c46;
  border-radius: 15px;
  height: 375px;
  overflow: hidden;
}

.crop img {
  width: 100%;
}

#sky {
  height: 100%;
}

/* Contact */

#Contact {
  background-color: #1f2c46;
  background-image: linear-gradient(
    0deg,
    hsl(220, 39%, 25%) 0%,
    hsl(220, 39%, 40%) 100%
  );

  color: #f4f4f4;
}

#Contact a {
  text-decoration: none;
  color: #f4f4f4;
}

/* Form */

.form-email {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* Footer */

.button a {
  color: #f4f4f4;
  text-decoration: none;
}

footer {
  background-color: #1f2c46;
  background-image: linear-gradient(
    0deg,
    hsl(220, 39%, 15%) 0%,
    hsl(220, 39%, 25%) 100%
  );
  color: #f4f4f4;
  text-align: center;
  min-height: 50px;
  padding: 1rem;
}

.button {
  display: inline-block;
  width: 100px;
  background: none;
  color: #f4f4f4;
  border: 1px solid;
  padding: 1em 2em;
  margin: 10px;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.button:hover {
  border-color: #f4f4f4;
  color: #f4f4f4;
  box-shadow: 0 0.5em 0.5em -0.2em #f4f4f4;
  transform: translateY(-0.4em);
  cursor: pointer;
}

/* For Design.html */

#design {
  color: #1f2c46;
  padding: 1rem;
}

#design img {
  border: 5px solid #1f2c46;
  width: 95%;
  max-width: 800px;
}

#design h1,
#design h3 {
  text-align: left;
}

#design h3 a {
  text-decoration: none;
}

#design h3 a:hover {
  text-decoration: underline;
}

/* MEDIA QUERY */
/* TABLET */

@media screen and (max-width: 800px) {
  #About .row-with-columns {
    flex-flow: column;
  }

  .about-column {
    width: 90%;
  }
}

/* MOBILE */

@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 50px;
  }
  nav li a {
    font-size: 0.9rem;
  }
  .asp {
    padding-left: 0rem;
  }
  .nav-icons img {
    height: 16px;
  }

  .row-with-columns {
    flex-flow: column;
  }

  .about-column {
    width: 90%;
  }
}
